/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #000;
}

.load_page {
  z-index: 9000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.loco .hero {
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loco .hero .hp {
  position: absolute;
  z-index: -1;
  width: 90vw;
  height: 70vh;
}

.loco .hero .ho {
  color: white;
  text-align: center;
  font-size: 30vw;
}

.loco .nOne {
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: white 20px solid;
  background-image: url("https://nek.netlify.app/assets/images/night_rocks_ocean.jpg");
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: 50% 100%;
}

.loco .nOne img {
  position: absolute;
}

.loco .nOne .ith {
  bottom: 20vh;
  right: 5rem;
}

.loco .nOne .io {
  left: 5vw;
  height: 100vh;
  width: 40vw;
}

.loco .nOne .it {
  right: 12vw;
  width: 50vw;
}

.loco .nOne .no {
  color: white;
  text-align: center;
  font-size: 24vw;
}

.loco .nTwo {
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loco .nTwo .no {
  color: white;
  text-align: center;
  font-size: 24vw;
}

.loco .nTwo .vid {
  -webkit-clip-path: path("M0.765625 180.207L32.9336 177.395C34.457 190.285 37.9727 200.891 43.4805 209.211C49.1055 217.414 57.7773 224.094 69.4961 229.25C81.2148 234.289 94.3984 236.809 109.047 236.809C122.055 236.809 133.539 234.875 143.5 231.008C153.461 227.141 160.844 221.867 165.648 215.188C170.57 208.391 173.031 201.008 173.031 193.039C173.031 184.953 170.688 177.922 166 171.945C161.312 165.852 153.578 160.754 142.797 156.652C135.883 153.957 120.59 149.797 96.918 144.172C73.2461 138.43 56.6641 133.039 47.1719 128C34.8672 121.555 25.668 113.586 19.5742 104.094C13.5977 94.4844 10.6094 83.7617 10.6094 71.9258C10.6094 58.918 14.3008 46.7891 21.6836 35.5391C29.0664 24.1719 39.8477 15.5586 54.0273 9.69922C68.207 3.83984 83.9688 0.910156 101.312 0.910156C120.414 0.910156 137.23 4.01562 151.762 10.2266C166.41 16.3203 177.66 25.3438 185.512 37.2969C193.363 49.25 197.582 62.7852 198.168 77.9023L165.473 80.3633C163.715 64.0742 157.738 51.7695 147.543 43.4492C137.465 35.1289 122.523 30.9688 102.719 30.9688C82.0938 30.9688 67.0352 34.7773 57.543 42.3945C48.168 49.8945 43.4805 58.9766 43.4805 69.6406C43.4805 78.8984 46.8203 86.5156 53.5 92.4922C60.0625 98.4688 77.1719 104.621 104.828 110.949C132.602 117.16 151.645 122.609 161.957 127.297C176.957 134.211 188.031 143 195.18 153.664C202.328 164.211 205.902 176.398 205.902 190.227C205.902 203.938 201.977 216.887 194.125 229.074C186.273 241.145 174.965 250.578 160.199 257.375C145.551 264.055 129.027 267.395 110.629 267.395C87.3086 267.395 67.7383 263.996 51.918 257.199C36.2148 250.402 23.8516 240.207 14.8281 226.613C5.92188 212.902 1.23438 197.434 0.765625 180.207Z");
          clip-path: path("M0.765625 180.207L32.9336 177.395C34.457 190.285 37.9727 200.891 43.4805 209.211C49.1055 217.414 57.7773 224.094 69.4961 229.25C81.2148 234.289 94.3984 236.809 109.047 236.809C122.055 236.809 133.539 234.875 143.5 231.008C153.461 227.141 160.844 221.867 165.648 215.188C170.57 208.391 173.031 201.008 173.031 193.039C173.031 184.953 170.688 177.922 166 171.945C161.312 165.852 153.578 160.754 142.797 156.652C135.883 153.957 120.59 149.797 96.918 144.172C73.2461 138.43 56.6641 133.039 47.1719 128C34.8672 121.555 25.668 113.586 19.5742 104.094C13.5977 94.4844 10.6094 83.7617 10.6094 71.9258C10.6094 58.918 14.3008 46.7891 21.6836 35.5391C29.0664 24.1719 39.8477 15.5586 54.0273 9.69922C68.207 3.83984 83.9688 0.910156 101.312 0.910156C120.414 0.910156 137.23 4.01562 151.762 10.2266C166.41 16.3203 177.66 25.3438 185.512 37.2969C193.363 49.25 197.582 62.7852 198.168 77.9023L165.473 80.3633C163.715 64.0742 157.738 51.7695 147.543 43.4492C137.465 35.1289 122.523 30.9688 102.719 30.9688C82.0938 30.9688 67.0352 34.7773 57.543 42.3945C48.168 49.8945 43.4805 58.9766 43.4805 69.6406C43.4805 78.8984 46.8203 86.5156 53.5 92.4922C60.0625 98.4688 77.1719 104.621 104.828 110.949C132.602 117.16 151.645 122.609 161.957 127.297C176.957 134.211 188.031 143 195.18 153.664C202.328 164.211 205.902 176.398 205.902 190.227C205.902 203.938 201.977 216.887 194.125 229.074C186.273 241.145 174.965 250.578 160.199 257.375C145.551 264.055 129.027 267.395 110.629 267.395C87.3086 267.395 67.7383 263.996 51.918 257.199C36.2148 250.402 23.8516 240.207 14.8281 226.613C5.92188 212.902 1.23438 197.434 0.765625 180.207Z");
  width: 10%;
  height: 10%;
  -webkit-transform: scale(5) !important;
          transform: scale(5) !important;
  position: absolute;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */